*.log
!tests/fuzz/*.log
tests/fuzz/append-log
tests/fuzz/ircfuzz.log
tests/fuzz/out/

*.c.smatch
*.cab
*.chm
*.dll
*.ico
*.mo
*.msi
*.o
*.obj
*.pot
*.tgz
*.wixobj
*.wixpdb
*.zip
.pc
_LINT.TMP
cov-int
cppcheck-data
curl-*
gnu-bundle-*
hunspell-*
libressl-*
options.mk
pdcurses-*
report.tasks
strace_out
swirc
swirc.analyze
swirc.exe
swirc.html
swirc.res
swirc.static.html
swircpaths.h
tests/*.run
trusted_roots.pem
