*.log
!tests/fuzz/*.log

*.cab
*.dll
*.ico
*.mo
*.msi
*.o
*.obj
*.pot
*.wixobj
*.wixpdb
*.zip
.pc
_LINT.TMP
cov-int
curl-*
libressl-*-windows
options.mk
pdcurses-*
swirc
swirc.analyze
swirc.exe
swirc.html
swirc.res
swirc.static.html
tests/*.run
trusted_roots.pem
