*.log
!tests/fuzz/*.log
tests/fuzz/ircfuzz.log

*.cab
*.dll
*.ico
*.mo
*.msi
*.o
*.obj
*.pot
*.tgz
*.wixobj
*.wixpdb
*.zip
.pc
_LINT.TMP
cov-int
cppcheck-data
curl-*
gnu-bundle-*
libressl-*-windows
options.mk
pdcurses-*
swirc
swirc.analyze
swirc.exe
swirc.html
swirc.res
swirc.static.html
tests/*.run
trusted_roots.pem
