#bottom {
    background: rgb(192, 192, 192);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
}
#bottom_contents a {
    color: rgb(128, 128, 128);
    text-decoration: underline;
}
#bottom_contents a:hover {
    color: rgb(128, 128, 128);
    text-decoration: none;
}
#bottom_contents {
    color: rgb(128, 128, 128);
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}
#menu {
    background: linear-gradient(lightgray, gray);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
#menu_contents {
    padding-left: 10px;
    width: 672px;
}
#mid {
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
}
#name {
    color: rgb(90, 90, 90);
    font-size: xx-large;
    font-weight: bold;
}
#slogan {
    color: rgb(0, 64, 128);
    font-size: x-large;
    font-weight: bold;
}
#top {
    margin-left: 30px;
    margin-right: 30px;
    width: 576px;
}
a {
    color: darkgoldenrod;
    text-decoration: none;
}
a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}
a.img, a:hover.img { border: none; }
a.page {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover.page {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 800px;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 { color: rgb(0, 64, 128); }
/* EOF */
