Source: swirc
Section: net
Priority: optional
Maintainer: Markus Uhlin <markus.uhlin@bredband.net>
Build-Depends:
  debhelper (>= 13~),
  debhelper-compat (= 13),
  gettext,
  libcmocka-dev,
  libcurl4-gnutls-dev | libcurl4-nss-dev | libcurl4-openssl-dev,
  libidn11-dev,
  libncursesw5-dev,
  libssl-dev,
  quilt
Rules-Requires-Root: no
Standards-Version: 4.6.1.0
Homepage: https://www.nifty-networks.net/swirc/

Package: swirc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Curses ICB and IRC client
 Swirc is a BSD licensed, console based and lightweight ICB and IRC
 client written in C/C++, whose goals are to be portable and secure.
 .
 Features:
  * TLS/SSL
  * Multiple IRCv3 features such as SASL auth mechanism
  * Themes
  * And more...
