#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export DEB_GAIN_ROOT_CMD='sudo -nE --'
# export DESTDIR=debian/tmp
export PREFIX=/usr

# For the DEB_{SOURCE,VERSION} or SOURCE_DATE_EPOCH variables
# include /usr/share/dpkg/pkg-info.mk
