<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;About</title>

-----HEAD COMMON TAGS-----

<!--
<style>
</style>
-->
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>About</h2>

<p>
Swirc is a BSD licensed, console based and lightweight ICB and IRC
client written in C/C++, whose goals are to be portable and secure.
</p>

<h3>Features</h3>

<ul>
  <li>TLS/SSL</li>
  <li>
Multiple
<a href="https://ircv3.net">IRCv3</a>
features such as SASL auth mechanism
  </li>
  <li>Themes</li>
  <li>And more...</li>
</ul>

<p>
Although Swirc is console based it runs natively on
<a href="https://en.wikipedia.org/wiki/Microsoft_Windows">Microsoft Windows</a>
using the
<a href="https://pdcurses.org/">PDCurses</a> library,
which isn't common compared to other similar clients.
</p>

<p>
The name Swirc means Swift IRC (or at your option, Swedish IRC).
</p>

<h3>System requirements</h3>

<ul>
  <li>Internet connection</li>
</ul>

<h3>Links</h3>

<ul>
  <li>
    <a href="http://www.openbsd.org/">OpenBSD</a>
  </li>
  <li>
    <a href="http://www.softpedia.com/">Softpedia</a>
  </li>
</ul>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
