<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;About</title>

-----HEAD COMMON TAGS-----

<!--
<style>
</style>
-->
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>About</h2>

<p>
Swirc is a BSD licensed IRC client written in C with the Ncurses UI
framework. IRC stands for Internet Relay Chat, and is a protocol for
text communication in real time over the Internet.
</p>

<p>
Goals are to be portable, and to provide a secure &amp; user-friendly
experience to its users. One significant difference is, for example,
that it runs on Windows without Cygwin.
</p>

<p>
I have no plans to add support for writing extensions in a scripting
language.
</p>

<p>
The name Swirc is an assembly of the word Swift (or at your option:
Swedish) and IRC.
</p>

<h3>Links</h3>

<ul>
  <li>
    <a href="http://www.download82.com/">Download82</a>
  </li>
  <li>
    <a href="http://www.softpedia.com/">Softpedia</a>
  </li>
</ul>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
