<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Commands</title>

-----HEAD COMMON TAGS-----

<style>
#cmds {
	background-color: cornsilk;
	border-radius: 25px;
	border: 2px solid darkgoldenrod;
	padding: 1em;
	width: 700px;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Commands</h2>

<p><small><em>Updated: 2019-09-03</em></small></p>

<table id="cmds">
  <tr>
    <td><ul>
<li><a href="#away">away</a></li>
<li><a href="#banlist">banlist</a></li>
<li><a href="#chanserv">chanserv</a></li>
<li><a href="#close">close</a></li>
<li><a href="#connect">connect</a></li>
<li><a href="#cycle">cycle</a></li>
<li><a href="#disconnect">disconnect</a></li>
<li><a href="#exlist">exlist</a></li>
<li><a href="#help">help</a></li>
<li><a href="#ilist">ilist</a></li>
    </ul></td>
    <td><ul>
<li><a href="#invite">invite</a></li>
<li><a href="#join">join</a></li>
<li><a href="#kick">kick</a></li>
<li><a href="#list">list</a></li>
<li><a href="#me">me</a></li>
<li><a href="#mode">mode</a></li>
<li><a href="#msg">msg</a></li>
<li><a href="#names">names</a></li>
<li><a href="#nick">nick</a></li>
<li><a href="#nickserv">nickserv</a></li>
    </ul></td>
    <td><ul>
<li><a href="#notice">notice</a></li>
<li><a href="#part">part</a></li>
<li><a href="#query">query</a></li>
<li><a href="#quit">quit</a></li>
<li><a href="#resize">resize</a></li>
<li><a href="#rules">rules</a></li>
<li><a href="#say">say</a></li>
<li><a href="#time">time</a></li>
<li><a href="#topic">topic</a></li>
<li><a href="#version">version</a></li>
    </ul></td>
    <td><ul>
<li><a href="#who">who</a></li>
<li><a href="#whois">whois</a></li>
<li><a href="#theme">theme</a></li>
<li><a href="#sasl">sasl</a></li>
<li><a href="#oper">oper</a></li>
<li><a href="#set">set</a></li>
<li><a href="#ban">ban</a></li>
<li><a href="#cleartoasts">cleartoasts</a></li>
    </ul></td>
  </tr>
</table>

<h3 id="away">AWAY</h3>
<p><kbd>usage: /away [reason]</kbd></p>
<p>
Marks yourself as away with <em>reason</em>. If <em>reason</em> is
omitted you'll be marked as no longer away.
</p>

<h3 id="banlist">BANLIST</h3>
<p><kbd>usage: /banlist [channel]</kbd></p>
<p>
Outputs channel banlist. If <em>channel</em> is omitted and the active
window is an IRC channel, it'll output the banlist for that channel.
</p>

<h3 id="chanserv">CHANSERV</h3>
<p><kbd>usage: /chanserv &lt;service hostname | --&gt; &lt;command&gt; [...]</kbd></p>
<p>
Communicate with channel services. If the first argument is
<kbd>--</kbd>
then the value of configuration option
<kbd>chanserv_host</kbd>
is used as service hostname.
See also <strong>NICKSERV</strong>.
</p>

<h3 id="close">CLOSE</h3>
<p><kbd>usage: /close</kbd></p>
<p>
Close the active window. It's not possible to close the status
window. And while connected it's not possible to close a channel; in
that case instead use <kbd>/part</kbd>.
</p>

<h3 id="connect">CONNECT</h3>
<p><kbd>usage: /connect [-tls] &lt;server[:port]&gt;</kbd></p>
<p>
Connect to given server. If the port is omitted port 6667 will be
chosen. And if the port is 6697 nor <kbd>-tls</kbd> is present, the
program attempts to initiate a TLS/SSL connection.
</p>
<p>
It is possible to connect to a certain IRC network by only entering
the network name. For example:
<kbd>/connect -tls freenode</kbd>, will connect to
<a href="https://freenode.net/">freenode</a>
using an encrypted connection. Preconfigured network names are:
</p>
<ul>
<li><a href="https://www.anonops.com/">anonops</a></li>
<li><a href="http://www.efnet.org/?">efnet</a></li>
<li><a href="https://freenode.net/">freenode</a></li>
<li><a href="http://www.ircnet.org/">ircnet</a></li>
<li><a href="https://www.quakenet.org/">quakenet</a></li>
<li><a href="http://www.undernet.org/">undernet</a></li>
</ul>

<h3 id="cycle">CYCLE</h3>
<p><kbd>usage: /cycle [channel]</kbd></p>
<p>
Cycle a channel, i.e. part plus join. If <em>channel</em> is omitted
and the active window is an IRC channel, it'll cycle that channel.
</p>

<h3 id="disconnect">DISCONNECT</h3>
<p><kbd>usage: /disconnect [message]</kbd></p>
<p>
Disconnect from IRC, but don't quit the program. A disconnect message
is optional.
</p>

<h3 id="exlist">EXLIST</h3>
<p><kbd>usage: /exlist [channel]</kbd></p>
<p>
Outputs channel exception list. An exception mask (+e) overrides a ban
mask. If <em>channel</em> is omitted and the active window is an IRC
channel, it'll output the exception list for that channel.
</p>

<h3 id="help">HELP</h3>
<p><kbd>usage: /help [command]</kbd></p>
<p>
Outputs help. If a command is present, it'll output help for that
command.
</p>

<h3 id="ilist">ILIST</h3>
<p><kbd>usage: /ilist [channel]</kbd></p>
<p>
Outputs channel invitation list. An invitation mask (+I) overrides the
invite-only flag (+i). If <em>channel</em> is omitted and the active
window is an IRC channel, it'll output the invitation list for that
channel.
</p>

<h3 id="invite">INVITE</h3>
<p><kbd>usage: /invite &lt;targ_nick&gt; &lt;channel&gt;</kbd></p>
<p>
Invites <em>targ_nick</em> to <em>channel</em>.
</p>

<h3 id="join">JOIN</h3>
<p><kbd>usage: /join &lt;channel&gt; [key]</kbd></p>
<p>
Joins a channel (optionally by using a key). For a standard channel a
leading hashtag (#) must be present.
</p>

<h3 id="kick">KICK</h3>
<p><kbd>usage: /kick &lt;nick1[,nick2][,nick3][...]&gt; [reason]</kbd></p>
<p>
Kicks one or more users out of a channel as specified by a
comma-separated list, and optionally with a <em>reason</em>. The
active window must be an IRC channel.
</p>

<h3 id="list">LIST</h3>
<p><kbd>usage: /list [&lt;max_users[,&gt;min_users][,pattern][...]]</kbd></p>
<p>
List channels and their topics. Without any arguments the output is
HUGE. For example, <kbd>/list &gt;1500</kbd> will only list channels that
have more than 1500 users.
</p>

<h3 id="me">ME</h3>
<p><kbd>usage: /me &lt;message&gt;</kbd></p>
<p>
Action message. Used to simulate role playing on IRC. The active
window must be an IRC channel.
</p>

<h3 id="mode">MODE</h3>
<p><kbd>usage: /mode &lt;modes&gt; [...]</kbd></p>
<p>Alter modes.</p>

<h3 id="msg">MSG</h3>
<p><kbd>usage: /msg &lt;recipient&gt; &lt;message&gt;</kbd></p>
<p>
Used to send private messages between users, as well as to send
messages to channels.
</p>

<h3 id="names">NAMES</h3>
<p><kbd>usage: /n [channel]</kbd></p>
<p>
Outputs users in a channel. If <em>channel</em> is omitted and the
active window is an IRC channel, it'll output the users of that
channel.
</p>

<h3 id="nick">NICK</h3>
<p><kbd>usage: /nick &lt;new nickname&gt;</kbd></p>
<p>Set nickname.</p>

<h3 id="nickserv">NICKSERV</h3>
<p><kbd>usage: /nickserv &lt;service hostname | --&gt; &lt;command&gt; [...]</kbd></p>
<p>Communicate with nickname services.</p>
<p>If the first argument is <kbd>--</kbd> then the:</p>
<ul>
<li>
Value of configuration option <kbd>nickserv_host</kbd> is used as
service hostname
</li>
<li>
Command call won't be added to the command history provided that the
second argument is <kbd>identify</kbd>
</li>
</ul>
<p>
The correct "service hostname" is not always the same as the visible
hostname of NickServ. FYI at the
<a href="https://www.anonops.com/">AnonOps IRC network</a>
the visible hostname of NickServ is <strong>anonops.in</strong>
(at the time of writing this)
but <strong>services.anonops.com</strong> is urged to be used.
As a fallback: use <kbd>/query NickServ</kbd>
in order to communicate with the service.
</p>

<h3 id="notice">NOTICE</h3>
<p><kbd>usage: /notice &lt;recipient&gt; &lt;message&gt;</kbd></p>
<p>
Used to send private messages between users, as well as to send
messages to channels. (In notice form).
</p>

<h3 id="part">PART</h3>
<p><kbd>usage: /part [channel] [message]</kbd></p>
<p>
Parts a channel with an optional message. For a standard channel a
leading hashtag (#) must be present. If the command is called without
arguments it tries to part the current window which must be an IRC
channel.
</p>

<h3 id="query">QUERY</h3>
<p><kbd>usage: /query [nick]</kbd></p>
<p>
Start a query with <em>nick</em>. If <em>nick</em> is omitted, and
provided that the active window is a query, close the query.
</p>

<h3 id="quit">QUIT</h3>
<p><kbd>usage: /quit [message]</kbd></p>
<p>
Disconnect from IRC and quit the program. A disconnect message is
optional.
</p>

<h3 id="resize">RESIZE</h3>
<p><kbd>usage: /resize</kbd></p>
<p>
Resize the terminal.
For example, Windows doesn't send <em>SIGWINCH</em>, instead this
command can be used. First resize the window then issue this command.
</p>

<h3 id="rules">RULES</h3>
<p><kbd>usage: /rules</kbd></p>
<p>
Outputs network/server rules. Not all IRCd:s supports this command.
</p>

<h3 id="say">SAY</h3>
<p><kbd>usage: /say &lt;message&gt;</kbd></p>
<p>
Say a message. This command can be used if you want say something with
a leading command-character, i.e. a slash.
</p>

<h3 id="time">TIME</h3>
<p><kbd>usage: /time &lt;target&gt;</kbd></p>
<p>
Send a CTCP TIME request to <em>target</em>, which is either a
nickname or an IRC channel.
</p>

<h3 id="topic">TOPIC</h3>
<p><kbd>usage: /topic [new topic]</kbd></p>
<p>
Set a new topic for a channel. If <em>new topic</em> is omitted,
display the current topic. Active window must be an IRC channel.
</p>

<h3 id="version">VERSION</h3>
<p><kbd>usage: /version &lt;target&gt;</kbd></p>
<p>
Send a CTCP VERSION request to <em>target</em>, which is either a
nickname or an IRC channel.
</p>

<h3 id="who">WHO</h3>
<p><kbd>usage: /who &lt;mask&gt;</kbd></p>
<p>
Used by a client to generate a query which returns a list of
information which 'matches' the <em>mask</em> parameter given by the
client.
</p>

<h3 id="whois">WHOIS</h3>
<p><kbd>/whois &lt;nick&gt;</kbd></p>
<p>
Used to query information about particular user (specified
by <em>nick</em>).
</p>

<h3 id="theme">THEME</h3>
<p><kbd>usage: /theme [install | list-remote | set] [name]</kbd></p>
<p>
Management of themes on-the-fly.
</p>

<h3 id="sasl">SASL</h3>
<p>
<kbd>usage: /sasl &lt;operation&gt; [...]</kbd><br>
<kbd>keygen [--force]</kbd><br>
<kbd>pubkey</kbd><br>
<kbd>mechanism [ecdsa-nist256p-challenge | plain]</kbd><br>
<kbd>username &lt;name&gt;</kbd><br>
<kbd>password &lt;pass&gt;</kbd><br>
<kbd>set [on | off]</kbd>
</p>
<p>
Simple Authentication and Security Layer.
</p>

<h3 id="oper">OPER</h3>
<p><kbd>usage: /oper &lt;name&gt; &lt;password&gt;</kbd></p>
<p>
Identify as an IRC op.
</p>

<h3 id="set">SET</h3>
<p><kbd>usage: /set [[setting] [value]]</kbd></p>
<p>
Alter Swirc settings.
</p>

<h3 id="ban">BAN</h3>
<p><kbd>usage: /ban &lt;mask&gt;</kbd></p>
<p>
Set a ban. The active window must be an IRC channel.
</p>

<h3 id="cleartoasts">CLEARTOASTS</h3>
<p><kbd>usage: /cleartoasts</kbd></p>
<p>
Clear toasts.
</p>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
