<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client</title>

-----HEAD COMMON TAGS-----

<style>
#news td {
	vertical-align: top;
}
#news {
	width: 576px;
}
.inlineblock {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<div class="inlineblock">
<h2>News</h2>
<table id="news">

  <tr>
    <td><sup>March 22 2020</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#323---2020-03-22">
v3.2.3 released
</a>
    </td>
  </tr>

  <tr>
    <td><sup>March 17 2020</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#322---2020-03-17">
v3.2.2 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>March 1 2020</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#321---2020-03-01">
v3.2.1 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>February 13 2020</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#320---2020-02-13">
v3.2.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>December 22 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#311---2019-12-22">
v3.1.1 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>December 6 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#310---2019-12-06">
v3.1.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>October 31 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#300---2019-10-31">
v3.0.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>September 10 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#290---2019-09-10">
v2.9.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>July 16 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#280---2019-07-16">
v2.8.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>May 26 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#272---2019-05-26">
v2.7.2 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>April 26 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#271---2019-04-26">
v2.7.1 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>April 20 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#270---2019-04-20">
v2.7.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>March 21 2019</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#26---2019-03-21">
v2.6 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>December 21 2018</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#25---2018-12-21">
v2.5 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>November 11 2018</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#24---2018-11-11">
v2.4 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>October 24 2018</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#23---2018-10-24">
v2.3 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>September 30 2018</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#22---2018-09-30">
v2.2 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>May 21 2018</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#21---2018-05-21">
v2.1 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>February 24 2018</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#20---2018-02-24">
v2.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>November 12 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#19---2017-11-12">
v1.9 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>October 27 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#18---2017-10-27">
v1.8 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>August 12 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#17---2017-08-12">
v1.7 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>May 24 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#16---2017-05-24">
v1.6 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>March 5 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#15---2017-03-05">
v1.5 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>February 3 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#14---2017-02-03">
v1.4 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>January 14 2017</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#13---2017-01-14">
v1.3 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>September 22 2016</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#12---2016-09-22">
v1.2 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>August 27 2016</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#11---2016-08-27">
v1.1 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>August 13 2016</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#10---2016-08-13">
v1.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>July 30 2016</sup></td>
    <td>&bull;</td>
    <td>
<strong>v1.0b released</strong>
(Initial version of Swirc)
    </td>
  </tr>
</table>
</div> <!-- inlineblock -->

<div class="inlineblock">
<h2>Screenshots</h2>
<table>
  <tr>
    <td>
      <a class="img" href="screenshots/swirc-311-3.png">
	<img src="screenshots/swirc-311-3.png" alt="screenshot 1" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-311-2.png">
	<img src="screenshots/swirc-311-2.png" alt="screenshot 2" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-311-1.png">
	<img src="screenshots/swirc-311-1.png" alt="screenshot 3" height="100" width="100"></a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="img" href="screenshots/swirc-310-3.png">
	<img src="screenshots/swirc-310-3.png" alt="screenshot 4" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-310-2.png">
	<img src="screenshots/swirc-310-2.png" alt="screenshot 5" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-310-1.png">
	<img src="screenshots/swirc-310-1.png" alt="screenshot 6" height="100" width="100"></a>
    </td>
  </tr>
</table>
<h2>GitHub project</h2>
<p><a href="https://github.com/uhlin/swirc">Swirc at GH</a></p>
</div> <!-- inlineblock -->
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
