<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client</title>

-----HEAD COMMON TAGS-----

<style>
#news td { vertical-align: top; }
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>News</h2>

<table id="news">
  <tr>
    <td><sup>August 18 2017</sup></td>
    <td>&bull;</td>
    <td>
New themes added!
    </td>
  </tr>
  <tr>
    <td><sup>August 12 2017</sup></td>
    <td>&bull;</td>
    <td>
v1.7 released!
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#17---2017-08-12">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>May 24 2017</sup></td>
    <td>&bull;</td>
    <td>
v1.6 released.
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#16---2017-05-24">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>March 5 2017</sup></td>
    <td>&bull;</td>
    <td>
v1.5 RELEASED!
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#15---2017-03-05">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>February 8 2017</sup></td>
    <td>&bull;</td>
    <td>
Documented the commands.
    </td>
  </tr>
  <tr>
    <td><sup>February 3 2017</sup></td>
    <td>&bull;</td>
    <td>
New month = new release. v1.4 RELEASED!
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#14---2017-02-03">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>January 14 2017</sup></td>
    <td>&bull;</td>
    <td>
v1.3 released.
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#13---2017-01-14">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>September 22 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.2 released.
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#12---2016-09-22">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>September 20 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.2 is close.
    </td>
  </tr>
  <tr>
    <td><sup>August 31 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.1+. The release was made after feedback mainly from
<a href="mailto:ports@openbsd.org">ports@</a>
in an attempt to ship Swirc with
<a href="https://www.openbsd.org/">OpenBSD</a>.
The code has, however, not changed in functionality and I won't
provide precompiled binaries for Windows for this release.
    </td>
  </tr>
  <tr>
    <td><sup>August 27 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.1 released with <strong>many improvements</strong>,
including window scrolling capabilities.
    </td>
  </tr>
  <tr>
    <td><sup>August 26 2016</sup></td>
    <td>&bull;</td>
    <td>
Much work has been done to the upcoming v1.1.
    </td>
  </tr>
  <tr>
    <td><sup>August 13 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.0 RELEASED!
[<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#10---2016-08-13">changes</a>].
    </td>
  </tr>
  <tr>
    <td><sup>August 10 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.0 planned with some important changes.
    </td>
  </tr>
  <tr>
    <td><sup>July 30 2016</sup></td>
    <td>&bull;</td>
    <td>
v1.0b released!
    </td>
  </tr>
  <tr>
    <td><sup>July 26 2016</sup></td>
    <td>&bull;</td>
    <td>
A first beta release of Swirc is finally coming in a near
future. Feedback and help with testing are welcome.
    </td>
  </tr>
</table>

<h3>Screenshots</h3>

<table>
  <tr>
    <td><a class="img" href="screenshots/swirc170114-1.png"><img src="screenshots/swirc170114-1.png" alt="screenshot 1" height="100" width="100"></a></td>
    <td><a class="img" href="screenshots/swirc170114-2.png"><img src="screenshots/swirc170114-2.png" alt="screenshot 2" height="100" width="100"></a></td>
    <td><a class="img" href="screenshots/swirc170114-3.png"><img src="screenshots/swirc170114-3.png" alt="screenshot 3" height="100" width="100"></a></td>
  </tr>
</table>

<h3>GitHub project</h3>

<p><a href="https://github.com/uhlin/swirc">Swirc at GH</a></p>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
