<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client</title>

-----HEAD COMMON TAGS-----

<style>
#gh_mark {
	opacity: 1;
	transition: .5s ease;
}
#gh_mark:hover {
	opacity: 0.3;
}
#news td {
	vertical-align: top;
}
#news {
	width: 576px;
}
.inlineblock {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<div class="inlineblock">
<h2>News</h2>
<table id="news">

  <tr>
    <td><sup>November 9 2024</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#351---2024-11-09">
v3.5.1 released
</a>
    </td>
  </tr>

  <tr>
    <td><sup>September 30 2024</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#350---2024-09-30">
v3.5.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>July 28 2024</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#349---2024-07-28">
v3.4.9 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>June 4 2024</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#348---2024-06-04">
v3.4.8 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>March 12 2024</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#347---2024-03-12">
v3.4.7 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>November 5 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#346---2023-11-05">
v3.4.6 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>September 14 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#345---2023-09-14">
v3.4.5 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>July 29 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#344---2023-07-29">
v3.4.4 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>March 10 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#343---2023-03-10">
v3.4.3 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>February 22 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#342---2023-02-22">
v3.4.2 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>February 18 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#341---2023-02-18">
v3.4.1 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>February 10 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#340---2023-02-10">
v3.4.0 released
</a>
    </td>
  </tr>
  <tr>
    <td><sup>January 7 2023</sup></td>
    <td>&bull;</td>
    <td>
<a href="https://github.com/uhlin/swirc/blob/master/CHANGELOG.md#339---2023-01-07">
v3.3.9 released
</a>
    </td>
  </tr>
</table>
</div> <!-- inlineblock -->

<div class="inlineblock">
<!-- h2>Screenshots</h2 -->
<!-- table>
  <tr>
    <td>
      <a class="img" href="screenshots/swirc-311-3.png">
	<img src="screenshots/swirc-311-3.png" alt="screenshot 1" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-311-2.png">
	<img src="screenshots/swirc-311-2.png" alt="screenshot 2" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-311-1.png">
	<img src="screenshots/swirc-311-1.png" alt="screenshot 3" height="100" width="100"></a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="img" href="screenshots/swirc-310-3.png">
	<img src="screenshots/swirc-310-3.png" alt="screenshot 4" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-310-2.png">
	<img src="screenshots/swirc-310-2.png" alt="screenshot 5" height="100" width="100"></a>
    </td>
    <td>
      <a class="img" href="screenshots/swirc-310-1.png">
	<img src="screenshots/swirc-310-1.png" alt="screenshot 6" height="100" width="100"></a>
    </td>
  </tr>
</table -->
<h2>GitHub project</h2>
<p><img src="gfx/GitHub-Mark-120px-plus.png" alt="GitHub Mark" height="50" width="50" id="gh_mark"></p>
<p><a href="https://github.com/uhlin/swirc">Swirc @ GH</a></p>
<h2>Old News</h2>
<p>
News no longer relevant can be found
<a href="old-news.html">here</a>.
</p>
</div> <!-- inlineblock -->
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
