<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (OpenBSD)</title>

-----HEAD COMMON TAGS-----

<style>
.snippet {
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(192, 192, 192);
	padding: 1em;
	width: 600px;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>OpenBSD</h3>

<p>
	Starting from
	<a href="https://www.openbsd.org/">OpenBSD</a>
	version 6.7 Swirc is officially available via
	<kbd>pkg_add</kbd>
	for multiple architectures.
</p>

<p class="snippet">
	<kbd># pkg_add swirc</kbd>
</p>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
