<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (OpenBSD)</title>

-----HEAD COMMON TAGS-----

<style>
.snippet {
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(192, 192, 192);
	padding: 1em;
	width: 600px;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>OpenBSD</h3>

<p>
<a href="https://www.nifty-networks.net/swirc/releases/OpenBSD/">
Browse the archive of Swirc releases for OpenBSD
</a>
to see if it's available for your architecture.<br>
I currently don't have the resources to build it for all architectures.
</p>

<p class="snippet">
<kbd># pkg_add -v -D unsigned https://www.nifty-networks.net/swirc/releases/OpenBSD/6.6/amd64/swirc</kbd>
</p>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
