<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases</title>

-----HEAD COMMON TAGS-----

<style>
#sp, #dl82 {
	width: 672px;
}
.new {
	color: green;
	font-weight: bold;
}
.note {
	color: red;
	font-weight: bold;
}
.rel {
	text-align: center;
	width: 672px;
}
th {
	color: rgb(90, 90, 90);
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<ul>
  <li>
    <p>
Versions 1.5 to 2.0 can be verified with
<a href="mu170225.asc">this public key</a>
    </p>
  </li>
  <li>
    <p>
Versions greater than 2.0 can be verified with
<a href="mu180520.asc">this public key</a>
    </p>
  </li>
  <li>
    <p>
<span class="note">NOTE</span>
Versions less than or equal to 1.4 required
<a href="vc_redist/2015/vc_redist.x86.exe">Microsoft Visual C++ 2015 Redistributable</a>
format x86 to be installed
    </p>
  </li>
  <li>
    <p>
<span class="note">NOTE</span>
Versions greater than or equal to 1.9 requires
<a href="vc_redist/2017/VC_redist.x64.exe">Microsoft Visual C++ 2017 Redistributable</a>
format x64 to be installed
    </p>
  </li>
</ul>

<h3>Precompiled for Windows</h3>

<table id="sp">
  <tr>
    <td>
      <p>
<a class="img" href="http://www.softpedia.com/get/Internet/Chat/IRC-Clients/Swirc.shtml#status">
<img src="gfx/sp100clean.png" alt="100% CLEAN">
</a>
      </p>
    </td>
    <td>
      <p>
<a class="img" href="http://www.softpedia.com/progDownload/Swirc-Download-254951.html">
<img src="gfx/softpedia_download_large_shadow.png" alt="Softpedia Download">
</a>
      </p>
    </td>
  </tr>
</table>

<!--
<table id="dl82">
  <tr>
    <td>
      <p>
<a class="img" href="http://www.download82.com/download/windows/swirc/">
<img src="gfx/download82_clean_award_128617.png" alt="download82 clean award">
</a>
      </p>
    </td>
    <td>
      <p>
<a class="img" href="http://www.download82.com/get/download/windows/swirc/">
<img src="gfx/download82-badge1.png" alt="Get it on Download82">
</a>
      </p>
    </td>
  </tr>
</table>
-->

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.3.msi">v2.3</a></td>
    <td><span class="new">NEW!</span></td>
    <td>2018-10-24</td>
    <td><kbd>7d5a5b4ee88d7cb9200f2ccbfb44e0ad</kbd></td>
    <td><a href="releases/windows/Swirc-2.3.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.2.msi">v2.2</a></td>
    <td></td>
    <td>2018-09-30</td>
    <td><kbd>35f1c2097f07f1ec4f0df15d92f1afae</kbd></td>
    <td><a href="releases/windows/Swirc-2.2.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.1-Setup.exe">v2.1</a></td>
    <td></td>
    <td>2018-05-21</td>
    <td><kbd>2c667a63336d63aabdc9be4a2f75f763</kbd></td>
    <td><a href="releases/windows/Swirc-2.1-Setup.exe.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.0-Setup.exe">v2.0</a></td>
    <td></td>
    <td>2018-02-24</td>
    <td><kbd>1e30f1baae935a401a7b16fc41ac2bec</kbd></td>
    <td><a href="releases/windows/Swirc-2.0-Setup.exe.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-1.9-Setup.exe">v1.9</a></td>
    <td></td>
    <td>2017-11-12</td>
    <td><kbd>53a790ea5ad464da6fb396c80a27b999</kbd></td>
    <td><a href="releases/windows/Swirc-1.9-Setup.exe.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/swirc-1.8.zip">v1.8</a></td>
    <td></td>
    <td>2017-10-27</td>
    <td><kbd>6f08f619612b1439c63e8ef2d802699b</kbd></td>
    <td><a href="releases/windows/swirc-1.8.zip.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/swirc-1.7.zip">v1.7</a></td>
    <td></td>
    <td>2017-08-12</td>
    <td><kbd>9249389dfac89fbd50eed2b3456b87f4</kbd></td>
    <td><a href="releases/windows/swirc-1.7.zip.sig">sig</a></td>
  </tr>
</table> <!--rel-->

<h3>Source code</h3>

<p>(Unpack with: <kbd>tar xfz &lt;tarball&gt;</kbd>.)</p>

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.3.tgz">v2.3</a></td>
    <td></td>
    <td>2018-10-24</td>
    <td><kbd>9fb6f936bdd84f49ed526d79a20aaf55</kbd></td>
    <td><a href="releases/swirc-2.3.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.2.tgz">v2.2</a></td>
    <td></td>
    <td>2018-09-30</td>
    <td><kbd>24c22bc5ff95571295b3af3ca8e111bd</kbd></td>
    <td><a href="releases/swirc-2.2.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.1.tgz">v2.1</a></td>
    <td></td>
    <td>2018-05-21</td>
    <td><kbd>42fb13abd36d98880c454947532630ba</kbd></td>
    <td><a href="releases/swirc-2.1.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.0.tgz">v2.0</a></td>
    <td></td>
    <td>2018-02-24</td>
    <td><kbd>e0227e3415b9e91841d3bb63e57d08a9</kbd></td>
    <td><a href="releases/swirc-2.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.9.tgz">v1.9</a></td>
    <td></td>
    <td>2017-11-12</td>
    <td><kbd>0f7eea4447942d9123dde96c8f3e1ba1</kbd></td>
    <td><a href="releases/swirc-1.9.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.8.tgz">v1.8</a></td>
    <td></td>
    <td>2017-10-27</td>
    <td><kbd>ddaa0334fdc8520639553189f057fee9</kbd></td>
    <td><a href="releases/swirc-1.8.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.7.tgz">v1.7</a></td>
    <td></td>
    <td>2017-08-12</td>
    <td><kbd>fad82fd95aa1e8513e2070e7f931c7ac</kbd></td>
    <td><a href="releases/swirc-1.7.tgz.sig">sig</a></td>
  </tr>
</table> <!--rel-->
<p>&nbsp;</p>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
