<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases</title>

-----HEAD COMMON TAGS-----

<style>
#sp, #dl82 {
	width: 672px;
}
.new {
	color: green;
	font-weight: bold;
}
.note {
	color: red;
	font-weight: bold;
}
.rel {
	text-align: center;
	width: 672px;
}
th {
	color: rgb(90, 90, 90);
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<ul>
  <li>
    <p>
Versions up to v1.4 were signed using
<a href="mu160221.asc">this PGP key</a>
    </p>
  </li>
  <li>
    <p>
Later versions are signed using
<a href="mu170225.asc">this PGP key</a>
    </p>
  </li>
  <li>
    <p>
<span class="note">NOTE</span>
In order for the Windows version to run
<a href="https://go.microsoft.com/fwlink/?LinkId=615459">Microsoft Visual C++ 2015 Redistributable</a>
format x86 must be installed
    </p>
  </li>
</ul>

<h3>Precompiled for Windows</h3>

<table id="sp">
  <tr>
    <td>
      <p>
<a class="img" href="http://www.softpedia.com/get/Internet/Chat/IRC-Clients/Swirc.shtml#status">
<img src="gfx/sp100clean.png" alt="100% CLEAN">
</a>
      </p>
    </td>
    <td>
      <p>
<a class="img" href="http://www.softpedia.com/progDownload/Swirc-Download-254951.html">
<img src="gfx/softpedia_download_large_shadow.png" alt="Softpedia Download">
</a>
      </p>
    </td>
  </tr>
</table>

<!--
<table id="dl82">
  <tr>
    <td>
      <p>
<a class="img" href="http://www.download82.com/download/windows/swirc/">
<img src="gfx/download82_clean_award_128617.png" alt="download82 clean award">
</a>
      </p>
    </td>
    <td>
      <p>
<a class="img" href="http://www.download82.com/get/download/windows/swirc/">
<img src="gfx/download82-badge1.png" alt="Get it on Download82">
</a>
      </p>
    </td>
  </tr>
</table>
-->

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>
  <tr>
    <td><a href="releases/windows/swirc-1.5.zip">v1.5</a></td>
    <td><span class="new">NEW!</span></td>
    <td>2017-03-05</td>
    <td><kbd>68a7497ef1b45075fca1062292b1e74a</kbd></td>
    <td><a href="releases/windows/swirc-1.5.zip.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/swirc-1.4.zip">v1.4</a></td>
    <td></td>
    <td>2017-02-03</td>
    <td><kbd>0a5360d3ad19d6840aee11cf8c9fa9bb</kbd></td>
    <td><a href="releases/windows/swirc-1.4.zip.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/swirc-1.3.zip">v1.3</a></td>
    <td></td>
    <td>2017-01-14</td>
    <td><kbd>d384bd558d6ad1db87a06b996727d6b8</kbd></td>
    <td><a href="releases/windows/swirc-1.3.zip.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/swirc-1.2.zip">v1.2</a></td>
    <td></td>
    <td>2016-09-22</td>
    <td><kbd>e4ab376fd3779f6e3e7ab031ea572e48</kbd></td>
    <td><a href="releases/windows/swirc-1.2.zip.sig">sig</a></td>
  </tr>
</table> <!--rel-->

<h3>Source code</h3>

<p>(Unpack with: <kbd>tar xfz &lt;tarball&gt;</kbd>.)</p>

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.5.tgz">v1.5</a></td>
    <td></td>
    <td>2017-03-05</td>
    <td><kbd>e4fdad1588549a229ac8cd336e04622f</kbd></td>
    <td><a href="releases/swirc-1.5.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.4.tgz">v1.4</a></td>
    <td></td>
    <td>2017-02-03</td>
    <td><kbd>88df2e6c62d38113b5464a4b6c6ae91b</kbd></td>
    <td><a href="releases/swirc-1.4.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.3.tgz">v1.3</a></td>
    <td></td>
    <td>2017-01-14</td>
    <td><kbd>e7d0f808e660e2e25be983ae2259cef8</kbd></td>
    <td><a href="releases/swirc-1.3.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-1.2.tgz">v1.2</a></td>
    <td></td>
    <td>2016-09-22</td>
    <td><kbd>423269ddd1233df60fc8ba0e1275e9b6</kbd></td>
    <td><a href="releases/swirc-1.2.tgz.sig">sig</a></td>
  </tr>
</table> <!--rel-->
<p>&nbsp;</p>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
