<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program options and keys</title>

-----HEAD COMMON TAGS-----

<style>
.note {
	color: red;
	font-weight: bold;
}
.po td {
	vertical-align: top;
}
.po {
	background-color: cornsilk;
	border-radius: 25px;
	border: 2px solid darkgoldenrod;
	padding: 2em;
	width: 700px;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Documentation</h2>
<p><small><em>Updated: 2020-03-19</em></small></p>
<h3>Program options</h3>
<p>
<kbd>usage: swirc [-46?dipv] [-c server[:port]] [-n nickname] [-r rl name] [-u username] [-x config]</kbd>
</p>
<table class="po">
  <tr>
    <td><b>-4</b></td>
    <td>Use IPv4 addresses only</td>
  </tr>
  <tr>
    <td><b>-6</b></td>
    <td>Use IPv6 addresses only</td>
  </tr>
  <tr>
    <td><b>-?</b></td>
    <td>Output help</td>
  </tr>
  <tr>
    <td><b>-c</b> &lt;server[:port]&gt;</td>
    <td>
Connect to given server.
If the port is omitted port 6667 will be chosen.
And if the port is 7326 ICB mode is turned on automatically.
Further, if the port is 6697 <strong>swirc</strong> attempts to
initiate a TLS/SSL connection.
    </td>
  </tr>
  <tr>
    <td><b>-d</b></td>
    <td>Debug logging</td>
  </tr>
  <tr>
    <td><b>-i</b></td>
    <td>Turn on Internet Citizen's Band mode</td>
  </tr>
  <tr>
    <td><b>-n</b> &lt;nickname&gt;</td>
    <td>Online nickname</td>
  </tr>
  <tr>
    <td><b>-p</b></td>
    <td>
Server password (for private servers).
However: InspIRCd has a module called password forward, which means
that if a server password is specified by this flag, it will be used
to identify to <em>NickServ</em>.
If so: connect with a TLS/SSL connection, i.e. an encrypted
connection, to prevent your password from being disclosed in clear
text.
<strong>swirc</strong> also supports IRCv3 SASL authentication which
is probably a better alternative.
    </td>
  </tr>
  <tr>
    <td><b>-r</b> &lt;rl name&gt;</td>
    <td>Your real name</td>
  </tr>
  <tr>
    <td><b>-u</b> &lt;username&gt;</td>
    <td>Your username</td>
  </tr>
  <tr>
    <td><b>-v</b></td>
    <td>Output <strong>swirc</strong> version</td>
  </tr>
  <tr>
    <td><b>-x</b> &lt;config&gt;</td>
    <td>Config file</td>
  </tr>
</table>
<h3>Keys</h3>
<table>
  <tr><td><kbd><b>CTRL+a</b></kbd></td><td>Move to beginning of line</td></tr>
  <tr><td><kbd><b>CTRL+e</b></kbd></td><td>Move to end of line</td></tr>
  <tr><td><kbd><b>CTRL+b</b></kbd></td><td>Move cursor backward</td></tr>
  <tr><td><kbd><b>CTRL+f</b></kbd></td><td>Move cursor forward</td></tr>
  <tr><td><kbd><b>CTRL+d</b></kbd></td><td>Delete</td></tr>
  <tr><td><kbd><b>CTRL+g</b></kbd></td><td>Clear readline input</td></tr>
  <tr><td><kbd><b>CTRL+n</b></kbd></td><td>Next window</td></tr>
  <tr><td><kbd><b>CTRL+p</b></kbd></td><td>Previous window</td></tr>
  <tr><td><kbd><b>F11</b></kbd></td><td>Close window</td></tr>
  <tr><td><kbd><b>F12</b></kbd></td><td>Close all private conversations</td></tr>
</table>
<h3>Inserting text-decoration</h3>
<table>
  <tr><td><kbd><b>F5</b></kbd></td><td>Blink</td></tr>
  <tr><td><kbd><b>F6</b></kbd></td><td>Bold</td></tr>
  <tr><td><kbd><b>F7</b></kbd></td><td>Color</td></tr>
  <tr><td><kbd><b>F8</b></kbd></td><td>Normal</td></tr>
  <tr><td><kbd><b>F9</b></kbd></td><td>Reverse</td></tr>
  <tr><td><kbd><b>F10</b></kbd></td><td>Underline</td></tr>
</table>
<p>&nbsp;</p>
</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
