<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (Source code)</title>

-----HEAD COMMON TAGS-----

<style>
.new {
	color: green;
	font-weight: bold;
}
.note {
	color: red;
	font-weight: bold;
}
.rel {
	background-color: cornsilk;
	border-radius: 25px;
	border: 2px solid darkgoldenrod;
	padding: 1em;
	text-align: center;
	width: 672px;
}
th {
	color: rgb(90, 90, 90);
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>Source code</h3>

<p>(Unpack with: <kbd>tar xfz &lt;tarball&gt;</kbd>.)</p>

<p>
<a class="img" href="https://scan.coverity.com/projects/uhlin-swirc">
  <img
    src="https://scan.coverity.com/projects/18215/badge.svg"
    alt="Coverity Scan Build Status">
</a>
</p>

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>

  <tr>
    <td><a href="releases/swirc-3.2.1.tgz">v3.2.1</a></td>
    <td><span class="new">NEW!</span></td>
    <td>2020-03-01</td>
    <td><kbd>dcedc94df91599d12cd5b3600f93a4b0</kbd></td>
    <td><a href="releases/swirc-3.2.1.tgz.sig">sig</a></td>
  </tr>

  <tr>
    <td><a href="releases/swirc-3.2.0.tgz">v3.2.0</a></td>
    <td></td>
    <td>2020-02-13</td>
    <td><kbd>dfdf88c0e256803dbd49cac1b0982266</kbd></td>
    <td><a href="releases/swirc-3.2.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.1.1.tgz">v3.1.1</a></td>
    <td></td>
    <td>2019-12-22</td>
    <td><kbd>08df5ba8803c64e3db29230f44f0a861</kbd></td>
    <td><a href="releases/swirc-3.1.1.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.1.0.tgz">v3.1.0</a></td>
    <td></td>
    <td>2019-12-06</td>
    <td><kbd>55ff2b135c4929dca623f1675e655ee6</kbd></td>
    <td><a href="releases/swirc-3.1.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.0.0.tgz">v3.0.0</a></td>
    <td></td>
    <td>2019-10-31</td>
    <td><kbd>1c55d3a3e4be312901264fad0472156f</kbd></td>
    <td><a href="releases/swirc-3.0.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.9.0.tgz">v2.9.0</a></td>
    <td></td>
    <td>2019-09-10</td>
    <td><kbd>a0f6d7b39f64e0bb489ef47671df1b75</kbd></td>
    <td><a href="releases/swirc-2.9.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.8.0.tgz">v2.8.0</a></td>
    <td></td>
    <td>2019-07-16</td>
    <td><kbd>4d4a02aa0b974b5f52130402bd63ffff</kbd></td>
    <td><a href="releases/swirc-2.8.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.7.2.tgz">v2.7.2</a></td>
    <td></td>
    <td>2019-05-26</td>
    <td><kbd>bd5c2a0a398d69ee567b491078f182d1</kbd></td>
    <td><a href="releases/swirc-2.7.2.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.7.1.tgz">v2.7.1</a></td>
    <td></td>
    <td>2019-04-26</td>
    <td><kbd>bced7dbc05f9fbcd91972db474fc3200</kbd></td>
    <td><a href="releases/swirc-2.7.1.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.7.0.tgz">v2.7.0</a></td>
    <td></td>
    <td>2019-04-20</td>
    <td><kbd>d8a2f094afed8993e085c445086ab702</kbd></td>
    <td><a href="releases/swirc-2.7.0.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.6.tgz">v2.6</a></td>
    <td></td>
    <td>2019-03-21</td>
    <td><kbd>0cf123f223072d0434914fe9fd9d2bc9</kbd></td>
    <td><a href="releases/swirc-2.6.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-2.5.tgz">v2.5</a></td>
    <td></td>
    <td>2018-12-21</td>
    <td><kbd>05f58dad19b53f5ecc8e5125ee97f6c9</kbd></td>
    <td><a href="releases/swirc-2.5.tgz.sig">sig</a></td>
  </tr>
</table> <!--rel-->

<h3>Release signing</h3>

<ul>
  <li>
    <p>
Versions greater than 2.7.1 can be verified with
<a href="mu190523.asc">this public key</a>
    </p>
  </li>
  <li>
    <p>
Versions 2.1.0 to 2.7.1 can be verified with
<a href="mu180520.asc">this public key</a>
    </p>
  </li>
  <li>
    <p>
Versions 1.5 to 2.0 can be verified with
<a href="mu170225.asc">this public key</a>
    </p>
  </li>
</ul>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
