<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (Source code)</title>

-----HEAD COMMON TAGS-----

<link href="popup.css" rel="stylesheet" type="text/css">

<style>
.new {
	color: green;
	font-weight: bold;
}
.note {
	color: red;
	font-weight: bold;
}
.rel {
	background-color: cornsilk;
	border-radius: 25px;
	border: 2px solid darkgoldenrod;
	padding: 1em;
	text-align: center;
	width: 672px;
}
th {
	color: rgb(90, 90, 90);
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>Source code</h3>

<p>(Unpack with: <kbd>tar xfz &lt;tarball&gt;</kbd>.)</p>

<p>
	<a class="img" href="https://scan.coverity.com/projects/uhlin-swirc">
		<img alt="Coverity Scan Build Status" src="https://scan.coverity.com/projects/18215/badge.svg">
	</a>&nbsp;
	<a class="img" href="https://github.com/uhlin/swirc/actions/workflows/codeql.yml">
		<img alt="CodeQL" src="https://github.com/uhlin/swirc/actions/workflows/codeql.yml/badge.svg">
	</a>&nbsp;
	<a class="img" href="https://github.com/uhlin/swirc/actions/workflows/macos.yml">
		<img alt="macOS" src="https://github.com/uhlin/swirc/actions/workflows/macos.yml/badge.svg">
	</a>
</p>

<table class="rel">
	<tr>
		<th>Version</th>
		<th>&nbsp;</th>
		<th>Date</th>
		<th>MD5 checksum</th>
		<th>PGP signature</th>
	</tr>

	<tr>
		<td><a href="releases/swirc-3.4.4.tgz">v3.4.4</a></td>
		<td><span class="new">NEW!</span></td>
		<td>2023-07-29</td>
		<td><kbd>1dfe7ce17a4e816d3ff6dd3689db99d5</kbd></td>
		<td><a href="releases/swirc-3.4.4.tgz.sig">sig</a></td>
	</tr>

	<tr>
		<td><a href="releases/swirc-3.4.3.tgz">v3.4.3</a></td>
		<td></td>
		<td>2023-03-10</td>
		<td><kbd>8a9c2d23aec0d45baa7ce915519ef7d1</kbd></td>
		<td><a href="releases/swirc-3.4.3.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.4.2.tgz">v3.4.2</a></td>
		<td></span></td>
		<td>2023-02-22</td>
		<td><kbd>8d14f8b1dcdb921da007b7845419f9b9</kbd></td>
		<td><a href="releases/swirc-3.4.2.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.4.1.tgz">v3.4.1</a></td>
		<td></td>
		<td>2023-02-18</td>
		<td><kbd>dca97a249fd0e092b6e276e80d912855</kbd></td>
		<td><a href="releases/swirc-3.4.1.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.4.0.tgz">v3.4.0</a></td>
		<td></td>
		<td>2023-02-10</td>
		<td><kbd>22ac3ff5ff076b17577791dce6d3f86f</kbd></td>
		<td><a href="releases/swirc-3.4.0.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.9.tgz">v3.3.9</a></td>
		<td></td>
		<td>2023-01-07</td>
		<td><kbd>48db793b3b59732c6eb816c4324e8c95</kbd></td>
		<td><a href="releases/swirc-3.3.9.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.8.tgz">v3.3.8</a></td>
		<td></td>
		<td>2022-11-27</td>
		<td><kbd>71b0b4441ebb0eee6a9f174e27add0aa</kbd></td>
		<td><a href="releases/swirc-3.3.8.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.7.1.tgz">v3.3.7.1</a></td>
		<td class="popup" onclick="openPopup()">
			<b><u>Release info</u></b>
			<span class="popuptext" id="infoPopup">
			v3.3.7.1 doesn't include the 'doc/' folder!
			</span>
		</td>
		<td>2022-10-22</td>
		<td><kbd>d321fed6a70226511520d2393c9ea536</kbd></td>
		<td><a href="releases/swirc-3.3.7.1.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.7.tgz">v3.3.7</a></td>
		<td></td>
		<td>2022-10-22</td>
		<td><kbd>49043c3458c7895100866956b744e008</kbd></td>
		<td><a href="releases/swirc-3.3.7.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.6.tgz">v3.3.6</a></td>
		<td></td>
		<td>2022-10-05</td>
		<td><kbd>520ae1978139f6e195d31841b04e7e2c</kbd></td>
		<td><a href="releases/swirc-3.3.6.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.5.tgz">v3.3.5</a></td>
		<td></td>
		<td>2022-07-28</td>
		<td><kbd>536c8cdec602e4b81e2ef278b574dff4</kbd></td>
		<td><a href="releases/swirc-3.3.5.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.4.tgz">v3.3.4</a></td>
		<td></td>
		<td>2022-05-04</td>
		<td><kbd>335e2def59e65aa6c8ab8c40714a25ff</kbd></td>
		<td><a href="releases/swirc-3.3.4.tgz.sig">sig</a></td>
	</tr>
	<tr>
		<td><a href="releases/swirc-3.3.3.tgz">v3.3.3</a></td>
		<td></td>
		<td>2021-11-27</td>
		<td><kbd>faecec9371c5d6285a62bc7f1a7fce72</kbd></td>
		<td><a href="releases/swirc-3.3.3.tgz.sig">sig</a></td>
	</tr>
</table> <!--rel-->

<h3>Release signing</h3>

<p>
The releases above can be verified with
<a href="mu190523.asc">this public key</a>.
</p>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
<script>
function openPopup() {
	var popup = document.getElementById("infoPopup");
	popup.classList.toggle("show");
}
</script>
</body>

</html>
