<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (Source code)</title>

-----HEAD COMMON TAGS-----

<link href="popup.css" rel="stylesheet" type="text/css">

<style>
.new {
	color: green;
	font-weight: bold;
}
.note {
	color: red;
	font-weight: bold;
}
.rel {
	background-color: cornsilk;
	border-radius: 25px;
	border: 2px solid darkgoldenrod;
	padding: 1em;
	text-align: center;
	width: 672px;
}
th {
	color: rgb(90, 90, 90);
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>Source code</h3>

<p>(Unpack with: <kbd>tar xfz &lt;tarball&gt;</kbd>.)</p>

<p>
<a class="img" href="https://scan.coverity.com/projects/uhlin-swirc">
<img	alt="Coverity Scan Build Status"
	src="https://scan.coverity.com/projects/18215/badge.svg">
</a>&nbsp;
<a class="img" href="https://lgtm.com/projects/g/uhlin/swirc/context:cpp">
<img	alt="Language grade: C/C++"
	src="https://img.shields.io/lgtm/grade/cpp/g/uhlin/swirc.svg?logo=lgtm&logoWidth=18">
</a>&nbsp;
<a class="img" href="https://lgtm.com/projects/g/uhlin/swirc/alerts/">
<img	alt="Total alerts"
	src="https://img.shields.io/lgtm/alerts/g/uhlin/swirc.svg?logo=lgtm&logoWidth=18">
</a>
</p>

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>

  <tr>
    <td><a href="releases/swirc-3.3.7.1.tgz">v3.3.7.1</a></td>
    <td class="popup" onclick="openPopup()">
      <b><u>Release info</u></b>
      <span class="popuptext" id="infoPopup">
v3.3.7.1 doesn't include the 'doc/' folder!
      </span>
    </td>
    <td>2022-10-22</td>
    <td><kbd>d321fed6a70226511520d2393c9ea536</kbd></td>
    <td><a href="releases/swirc-3.3.7.1.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.3.7.tgz">v3.3.7</a></td>
    <td><span class="new">NEW!</span></td>
    <td>2022-10-22</td>
    <td><kbd>49043c3458c7895100866956b744e008</kbd></td>
    <td><a href="releases/swirc-3.3.7.tgz.sig">sig</a></td>
  </tr>

  <tr>
    <td><a href="releases/swirc-3.3.6.tgz">v3.3.6</a></td>
    <td></td>
    <td>2022-10-05</td>
    <td><kbd>520ae1978139f6e195d31841b04e7e2c</kbd></td>
    <td><a href="releases/swirc-3.3.6.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.3.5.tgz">v3.3.5</a></td>
    <td></td>
    <td>2022-07-28</td>
    <td><kbd>536c8cdec602e4b81e2ef278b574dff4</kbd></td>
    <td><a href="releases/swirc-3.3.5.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.3.4.tgz">v3.3.4</a></td>
    <td></td>
    <td>2022-05-04</td>
    <td><kbd>335e2def59e65aa6c8ab8c40714a25ff</kbd></td>
    <td><a href="releases/swirc-3.3.4.tgz.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/swirc-3.3.3.tgz">v3.3.3</a></td>
    <td></td>
    <td>2021-11-27</td>
    <td><kbd>faecec9371c5d6285a62bc7f1a7fce72</kbd></td>
    <td><a href="releases/swirc-3.3.3.tgz.sig">sig</a></td>
  </tr>
</table> <!--rel-->

<h3>Release signing</h3>

<p>
The releases above can be verified with
<a href="mu190523.asc">this public key</a>.
</p>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
<script>
function openPopup() {
	var popup = document.getElementById("infoPopup");
	popup.classList.toggle("show");
}
</script>
</body>

</html>
