<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (Void GNU/Linux)</title>

-----HEAD COMMON TAGS-----

<style>
.snippet {
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(192, 192, 192);
	padding: 1em;
	width: 600px;
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>Void GNU/Linux</h3>

<p>
Swirc is available via
<a href="https://voidlinux.org/">Void's</a>
package manager.
</p>

<p class="snippet">
<kbd># xbps-install swirc</kbd>
</p>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
