<!DOCTYPE html>

<html lang="en">

<head>
<title>Swirc IRC client&nbsp;&nbsp;--&nbsp;&nbsp;Program Releases (Windows)</title>

-----HEAD COMMON TAGS-----

<style>
#sp, #dl82 {
	width: 672px;
}
.new {
	color: green;
	font-weight: bold;
}
.note {
	color: red;
	font-weight: bold;
}
.rel {
	background-color: cornsilk;
	border-radius: 25px;
	border: 2px solid darkgoldenrod;
	padding: 1em;
	text-align: center;
	width: 672px;
}
th {
	color: rgb(90, 90, 90);
}
</style>
</head>

<body>
-----TOP-----

-----MENU-----

<div id="mid">
<h2>Program Releases</h2>

<h3>Precompiled for Windows</h3>

<table id="sp">
  <tr>
    <td>
      <p>
	<a class="img" href="http://www.softpedia.com/get/Internet/Chat/IRC-Clients/Swirc.shtml#status">
	  <img src="gfx/sp100clean.png" alt="100% CLEAN"></a>
      </p>
    </td>
    <td>
      <p>
	<a class="img" href="http://www.softpedia.com/progDownload/Swirc-Download-254951.html">
	  <img src="gfx/softpedia_download_large_shadow.png" alt="Softpedia Download"></a>
      </p>
    </td>
  </tr>
</table>

<!-- table id="dl82">
  <tr>
    <td>
      <p>
<a class="img" href="http://www.download82.com/download/windows/swirc/">
<img src="gfx/download82_clean_award_128617.png" alt="download82 clean award">
</a>
      </p>
    </td>
    <td>
      <p>
<a class="img" href="http://www.download82.com/get/download/windows/swirc/">
<img src="gfx/download82-badge1.png" alt="Get it on Download82">
</a>
      </p>
    </td>
  </tr>
</table -->

<table class="rel">
  <tr>
<th>Version</th>
<th>&nbsp;</th>
<th>Date</th>
<th>MD5 checksum</th>
<th>PGP signature</th>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.2.5.msi">v3.2.5</a></td>
    <td></td>
    <td>2020-10-09</td>
    <td><kbd>e175b701bcccfcd252d33ffd9f2765da</kbd></td>
    <td><a href="releases/windows/Swirc-3.2.5.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.2.4.msi">v3.2.4</a></td>
    <td></td>
    <td>2020-04-08</td>
    <td><kbd>22bf6cbba2535bb276029e9275235e47</kbd></td>
    <td><a href="releases/windows/Swirc-3.2.4.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.2.3.msi">v3.2.3</a></td>
    <td></td>
    <td>2020-03-22</td>
    <td><kbd>44e69a77570825c0178b6429416edf24</kbd></td>
    <td><a href="releases/windows/Swirc-3.2.3.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.2.2.msi">v3.2.2</a></td>
    <td></td>
    <td>2020-03-17</td>
    <td><kbd>f71e0b43b33b760f88b9f96ea6258f05</kbd></td>
    <td><a href="releases/windows/Swirc-3.2.2.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.2.1.msi">v3.2.1</a></td>
    <td></td>
    <td>2020-03-01</td>
    <td><kbd>b13d75ec198a09e3a98715e9f37aeb1b</kbd></td>
    <td><a href="releases/windows/Swirc-3.2.1.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.2.0.msi">v3.2.0</a></td>
    <td></td>
    <td>2020-02-13</td>
    <td><kbd>fc2ed89b269cad1f7bbf79ea944b2fca</kbd></td>
    <td><a href="releases/windows/Swirc-3.2.0.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.1.1.msi">v3.1.1</a></td>
    <td></td>
    <td>2019-12-22</td>
    <td><kbd>b3f703055c1c45810a00f6ad0035fc4b</kbd></td>
    <td><a href="releases/windows/Swirc-3.1.1.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-3.0.0.msi">v3.0.0</a></td>
    <td></td>
    <td>2019-10-31</td>
    <td><kbd>5aeea2339128113a5f814184ceb3597a</kbd></td>
    <td><a href="releases/windows/Swirc-3.0.0.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.9.0.msi">v2.9.0</a></td>
    <td></td>
    <td>2019-09-10</td>
    <td><kbd>7997a603894f45ceaccaf56169c98f59</kbd></td>
    <td><a href="releases/windows/Swirc-2.9.0.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.8.0.msi">v2.8.0</a></td>
    <td></td>
    <td>2019-07-16</td>
    <td><kbd>9b9cb0e231e673248398cf80e93044ba</kbd></td>
    <td><a href="releases/windows/Swirc-2.8.0.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.7.2.msi">v2.7.2</a></td>
    <td></td>
    <td>2019-05-26</td>
    <td><kbd>fa9e8336c52ca760a2a02dd410a23021</kbd></td>
    <td><a href="releases/windows/Swirc-2.7.2.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.7.1.msi">v2.7.1</a></td>
    <td></td>
    <td>2019-04-26</td>
    <td><kbd>4143c354233bdd07c67676a92226e5f5</kbd></td>
    <td><a href="releases/windows/Swirc-2.7.1.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.7.0.msi">v2.7.0</a></td>
    <td></td>
    <td>2019-04-20</td>
    <td><kbd>0714e6d2caf0f3ec923d2066a3f81bfb</kbd></td>
    <td><a href="releases/windows/Swirc-2.7.0.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.6.msi">v2.6</a></td>
    <td></td>
    <td>2019-03-21</td>
    <td><kbd>6e9fdc4c29ee08ee7f81e85cf3c2fd0d</kbd></td>
    <td><a href="releases/windows/Swirc-2.6.msi.sig">sig</a></td>
  </tr>
  <tr>
    <td><a href="releases/windows/Swirc-2.5.msi">v2.5</a></td>
    <td></td>
    <td>2018-12-21</td>
    <td><kbd>12ad2c87bd48fae6ea5592bc301b7afd</kbd></td>
    <td><a href="releases/windows/Swirc-2.5.msi.sig">sig</a></td>
  </tr>
</table> <!--rel-->

<!-- ul>
  <li>
    <p>
<span class="note">NOTE</span>
Versions less than or equal to 1.4 required
<a href="vc_redist/2015/vc_redist.x86.exe">Microsoft Visual C++ 2015 Redistributable</a>
format x86 to be installed
    </p>
  </li>
  <li>
    <p>
<span class="note">NOTE</span>
Versions 1.9, 2.0 and 2.1 required
<a href="vc_redist/2017/VC_redist.x64.exe">Microsoft Visual C++ 2017 Redistributable</a>
format x64 to be installed
    </p>
  </li>
  <li>
    <p>
      <strong>
	Versions 1.5 to 1.8 were statically linked thus did not
	require VC Redist
      </strong>
    </p>
  </li>
  <li>
    <p>
      <strong>
	Versions equal to 2.2 or greater does not require installation
	of VC Redist
      </strong>
    </p>
  </li>
</ul -->

<h3>Test Results</h3>

<iframe src="reports/swirc-3.2.5.html" height="400" width="672"></iframe>

<p>&nbsp;</p>

</div> <!--mid-->

-----BOTTOM-----
</body>

</html>
