#define WIN32_LEAN_AND_MEAN 1
#include <windows.h>

#define VER 2,4,0,0
#define VER_STR "2.4\0"

1 VERSIONINFO
FILEVERSION    VER
PRODUCTVERSION VER
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0x00000000L
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    0x00000000L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Swirc Development Team\0"
			VALUE "FileDescription",  "Curses IRC client\0"
			VALUE "FileVersion",      VER_STR
			VALUE "InternalName",     "swirc\0"
			VALUE "LegalCopyright",   "BSD, ISC, MIT\0"
			VALUE "OriginalFilename", "swirc.exe\0"
			VALUE "ProductName",      "Swirc IRC client\0"
			VALUE "ProductVersion",   VER_STR
		END
	END
END

1 ICON "swirc-royal.ico"
1 RT_MANIFEST "swirc.exe.manifest"
